<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue js</title>
    <link rel="stylesheet" href="./boostrab.css" />
  </head>
  <style>
    .form-style {
      background-color: whitesmoke;
      border-radius: 10px;
      box-shadow: 0px 2px 11px 10px #f0efefcc;
    }
  </style>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row p-5">
          <div class="col-4 form-style">
            <div class="form-group">
              <br />
              <h4 style="text-align: center">CRUD Application</h4>
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                v-model="form.name"
              />
            </div>
            <div class="form-group">
              <label for="cost">Cost</label>
              <input
                type="number"
                class="form-control"
                id="cost"
                v-model="form.cost"
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                v-model="form.price"
              />
            </div>
            <br />

            <button
              class="btn btn-outline-primary"
              style="float: right"
              @click="cancelItem"
            >
              Cancel
            </button>
            <button
              v-if="this.form.id === null"
              class="btn btn-outline-danger"
              style="float: right; margin-right: 10px"
              @click="saveproduct"
            >
              Save
            </button>
            <button
              v-if="this.form.id !== null"
              class="btn btn-outline-warning"
              style="float: right; margin-right: 10px"
              @click="editItem()"
            >
              Update
            </button>

            <br />
            <br />
          </div>
          <!--<form>-->
          <div class="col-8">
            <br />
            <br />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in product_list">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>{{ item.name }}</td>
                  <td>{{ item.cost }}</td>
                  <td>{{ item.price }}</td>
                  <td>
                    <button
                      class="btn btn-outline-primary"
                      @click="geteditItem(item)"
                      style="margin-right: 10px"
                    >
                      Edit
                    </button>
                    <button
                      class="btn btn-outline-danger"
                      @click="deleteItem(index)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./vue_engine.js"></script>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          form: {
            id: null,
            name: "",
            cost: 0,
            price: 0,
          },
          product_list: [],
        };
      },
      methods: {
        saveproduct() {
          if (
            this.form.name === "" ||
            this.form.cost === null ||
            this.form.price === null
          ) {
            alert("Please fill all fields correctly.");
            return;
          }

          this.product_list.push({
            name: this.form.name,
            cost: this.form.cost,
            price: this.form.price,
          });
          localStorage.setItem(
            "product_list",
            JSON.stringify(this.product_list)
          );

          this.clearform();
        },
        cancelItem() {
          this.clearform();
        },
        geteditItem(item) {
          this.form.id = item.id;
          this.form.name = item.name;
          this.form.cost = item.cost;
          this.form.price = item.price;
        },

        editItem() {
          let edit_product = this.product_list.find((item) => {
            return (item.id = this.form.id);
          });
          if (edit_product != undefined) {
            edit_product.name = this.form.name;
            edit_product.cost = this.form.cost;
            edit_product.price = this.form.price;
            this.clearform();
          }
        },
        deleteItem(index) {
          if (confirm("Are you sure you want to delete this item?")) {
            this.product_list.splice(index, 1);
          }
        },
        clearform() {
          this.form.name = "";
          this.form.cost = 0;
          this.form.price = 0;
        },
      },
    }).mount("#app");
  </script>
</html>
